/* Geral */

a,
a:link {
	color: #0f518f;
}

.excellence_register_business_form {
	padding: 60px 20px;
}

.excellence_register_business_form fieldset {
	border: 0;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
}

.excellence_register_business_form fieldset > legend {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 35px;
	margin-left: 15px;
	text-transform: uppercase;
}

.excellence_register_business_form fieldset > legend::after {
	background-color: crimson;
	content: " ";
	display: block;
	height: 3px;
	width: 80px;
}

.col-full {
	width: 100%;
}

.col-half {
	width: 50%;
}

.col-one-third {
	width: 33.33333333%;
}

/* Form fields */
.excellence_register_business_form .each-line {
	float: left;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	position: relative;
	width: 100%;
}

/* Modifier class to hide elements until the zip code is filled in correctly */
.excellence_register_business_form .each-line.-hidden {
	display: none;
}

.excellence_register_business_form .each-line.clear-line {
	margin: 0;
	padding: 0;
}

.excellence_register_business_form p br {
	display: none;
}

.excellence_register_business_form label {
	background-color: #f5f5f5;
	border-radius: 10px;
	font-size: 0.9em;
	left: 30px;
	padding: 2px 10px;
	position: absolute;
	top: 0;
	z-index: 9;
}

.excellence_register_business_form input[type="text"],
.excellence_register_business_form input[type="email"],
.excellence_register_business_form input[type="url"],
.excellence_register_business_form textarea,
.excellence_register_business_form span.logo input#logo {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 15px;
	width: 100%;
}

.excellence_register_business_form input[type="text"]:focus,
.excellence_register_business_form input[type="email"]:focus,
.excellence_register_business_form input[type="url"]:focus,
.excellence_register_business_form textarea:focus {
	border-color: #0f518f;
	outline-color: transparent;
}

/* Select2 */
.excellence_register_business_form .select2-container {
	display: block;
	width: 100% !important;
}

.excellence_register_business_form
	.select2-container--default
	.select2-search--dropdown
	.select2-search__field {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 15px;
	width: 100%;
}

.excellence_register_business_form
	.select2-container
	.select2-selection--single {
	height: auto;
}

.excellence_register_business_form
	.select2-container--default
	.select2-selection--single {
	border-color: #ccc;
	text-align: left;
}

.excellence_register_business_form
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: normal;
	padding: 15px 15px 14px 15px;
}

.excellence_register_business_form
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 47px;
	width: 47px;
}

.excellence_register_business_form
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	border-width: 8px 6px 0 6px;
}

.excellence_register_business_form
	.select2-container--default
	.select2-selection--single:focus {
	border-color: #0f518f;
	outline-color: transparent;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background-color: #0f518f !important;
}

/* Upload field */
.excellence_register_business_form input#logo {
	background-color: yellow;
	width: 100%;
}

/* Aceptance field */
.excellence_register_business_form .acceptance-line {
	text-align: left;
}
.excellence_register_business_form .acceptance-line .wpcf7-list-item {
	margin: 0;
}
.excellence_register_business_form .acceptance-line label {
	background-color: transparent;
	font-size: 13.333333px;
	left: 0;
	padding: 15px;
	position: relative;
	width: 100%;
}
.excellence_register_business_form .wpcf7-form-control-wrap.accept-this {
	background-color: #dddddd;
	border-radius: 30px;
	display: block;
	padding: 10px;
	width: 100%;
}

/* Images field */
.excellence_register_business_form .images {
	float: left;
	padding-top: 20px;
}
.excellence_register_business_form .images span.label-title {
	background-color: #f5f5f5;
	border-radius: 15px;
	font-size: 0.85em;
	padding: 5px 15px;
}
.excellence_register_business_form .images p {
	margin-bottom: 0;
}
.excellence_register_business_form .images p.each-line {
	float: left;
	line-height: 1.5;
	margin-bottom: 20px;
	width: 100%;
}
.excellence_register_business_form .images input#image1,
.excellence_register_business_form .images input#image2,
.excellence_register_business_form .images input#image3,
.excellence_register_business_form .images input#image4 {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 15px;
	width: 100%;
}
.excellence_register_business_form .images p.each-line label {
	display: none;
}
.excellence_register_business_form .wpcf7-submit:disabled {
	background-color: #dddddd !important;
}

/* Responsive Form Fields */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.excellence_register_business_form .street-line,
	.excellence_register_business_form .city-line,
	.excellence_register_business_form .complement-line {
		width: 65%;
	}

	.excellence_register_business_form .number-line,
	.excellence_register_business_form .uf-line,
	.excellence_register_business_form .district-line {
		width: 35%;
	}

	.excellence_register_business_form .phone-line,
	.excellence_register_business_form .whatsapp-line,
	.excellence_register_business_form .email-line,
	.excellence_register_business_form .site-line,
	.excellence_register_business_form .instagram-line,
	.excellence_register_business_form .facebook-line {
		width: 50%;
	}

	.excellence_register_business_form fieldset > legend {
		text-align: left;
	}

	/* Images field */
	.excellence_register_business_form .images p.each-line {
		float: left;
		width: 50%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/* Submit */
.excellence_register_business_form input[type="submit"] {
	background-color: #0f518f;
	border: 0;
	border-radius: 4px;
	box-shadow: none;
	color: #ffffff;
	cursor: pointer;
	margin-top: 0 !important;
	padding: 15px;
}

.excellence_register_business_form .each-line.submit-line {
	text-align: left;
}

.excellence_register_business_form input[type="submit"]:hover {
	background-color: #003668;
}

.excellence_register_business_form input[type="submit"]:focus {
	outline-color: transparent;
}

/* Alerts by CF7 */
.excellence_register_business_form .wpcf7-not-valid-tip {
	font-size: 13px;
	font-style: italic;
	text-align: left;
}

.excellence_register_business_form .wpcf7-not-valid {
	border-color: red;
}

.excellence_register_business_form .wpcf7-response-output {
	border-radius: 4px;
	border-width: 1px;
	font-size: 14.4px;
	margin: 15px 0;
	padding: 15px;
}

/* Form on the pages */
body.page .excellence_register_business_form fieldset > legend {
	display: none;
}

body.page .excellence_register_business_form {
	padding: 30px 0;
}

section {
	border-top: 2px solid #0f518f;
}

/* Diginet */

/* Header */
header#site-header {
	background-image: url("https://agpagencia.com.br/agphost/diginetsolidaria/wp-content/uploads/2020/04/20200427-diginet-solidaria-about-us-1.png");
	background-size: cover;
	background-blend-mode: multiply;
	background-position: center;
	background-color: #1953c6;
}
header#site-header .grid-container {
	margin-bottom: 0;
}

/* Menu */
#site-header .navbar-default {
	background-color: #052b80;
}

/* Campo Search no Menu */
nav .navbar-form.navbar-right {
	display: none;
}

/* Logo */
header#site-header .custom-logo {
	margin-bottom: 40px;
	margin-top: 40px;
}

/* Slider */
#main-slider .entry-slider > h2::after {
	background-color: #ffffff !important;
}

#main-slider .entry-slider > h2,
#main-slider a h2,
#main-slider p,
#main-slider a p {
	color: #ffffff !important;
}

#main-slider .register-link-slider {
	background-color: #ffffff;
	border-radius: 30px;
	color: #333333;
	display: inline-block;
	margin-top: 20px;
	padding: 10px 15px;
	transition: all 0.3s ease-in-out;
}

#main-slider .register-link-slider:hover {
	margin-bottom: 5px;
	margin-top: 15px;
}

/* Sublinhado dos Headings */
.title-line::after {
	background-color: #0f518f;
}

/* Menu Principal */
#site-header .navbar-nav a {
	text-transform: uppercase;
}
#site-footer {
	background-color: #052b80;
}
#site-footer .grid-row > .col {
	margin: 60px 0;
}
#site-footer h2 {
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 20px;
	text-transform: uppercase;
}
#site-footer h2::after {
	background-color: #fff;
	content: " ";
	display: block;
	height: 3px;
	width: 80px;
}
#site-footer .wrap-footer-credits {
	padding: 10px;
	background-color: #222222;
}
#site-footer .wrap-footer-credits .grid-container {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
#site-footer .wrap-footer-credits .grid-row {
	background: url(../images/20200422-agp-agencia-logomarca-2020-negativo.png)
		center/contain no-repeat;
	height: 30px;
	width: 50px;
}
#site-footer ul.list-social-icon li a.social-icon {
	background-color: #fff;
}
#site-footer ul.list-social-icon li a.social-icon svg path {
	fill: #052b80;
}

.wrap-contact-page-home .grid-row {
	align-items: center;
}

.wrap-contact-page-home .wpcf7-submit,
#site-content .wpcf7-form-control.wpcf7-submit {
	background-color: #0f518f;
	color: #ffffff;
	display: inline-block;
	border-radius: 50px;
	margin-top: 20px;
	padding: 10px 20px;
	transition: all 0.3s ease-out;
}

.wrap-contact-page-home .wpcf7-submit:hover {
	background-color: #0f518f;
}

#site-header .navbar-form {
	display: none;
}

#site-header .navbar-nav {
	flex-basis: 100%;
	max-width: 100%;
}

#site-header .wrap-custom-logo {
	flex-basis: 40%;
	max-width: 40%;
}

#site-header .contact-infos {
	flex-basis: 55%;
	max-width: 55%;
}

@media (max-width: 600px) {
	#site-header .grid-row {
		justify-content: center;
	}

	#site-header .wrap-custom-logo {
		flex-basis: 100%;
		max-width: 100%;
	}

	#site-header .contact-infos {
		flex-basis: 100%;
		max-width: 100%;
	}

	#site-header .contact-infos > span {
		text-align: center;
	}
}

@media (min-width: 600px) {
	.grid-container {
		max-width: 1180px;
	}
}

@media (max-width: 900px) {
	#site-header .navbar-main-navigation {
		display: none;
	}

	#site-header .navbar-header {
		display: block;
	}

	#site-header .navbar-header .navbar-toggle {
		height: 50px;
		width: 50px;
	}
}

.excellence_register_business_form input#logo {
	background-color: transparent;
}

#main-slider .teste {
	padding: 0;
}

/* Search Business on Home */
.wrap-search-business-page-home {
	padding-bottom: 60px;
	padding-top: 60px;
}
.wrap-search-business-page-home h2.title-line::after {
	margin-left: auto;
	margin-right: auto;
}
.wrap-search-business-page-home .searchandfilter h4 {
	background-color: #f5f5f5;
	border-radius: 10px;
	font-size: 14.4px;
	font-weight: lighter;
	left: 15px;
	margin-top: 7px;
	padding: 2px 10px;
	position: absolute;
	top: 0;
	z-index: 9;
}
.wrap-search-business-page-home .searchandfilter ul {
	padding: 30px 0;
	width: 100%;
}
.wrap-search-business-page-home .searchandfilter ul li {
	display: block;
	float: left;
	padding-right: 15px;
	padding-top: 15px;
	position: relative;
	width: 29%;
}
.wrap-search-business-page-home .searchandfilter ul li:nth-child(4) {
	width: 13%;
}
.wrap-search-business-page-home .searchandfilter .select2-container {
	display: block;
	width: 100% !important;
}
.wrap-search-business-page-home .searchandfilter input[type="text"] {
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-size: 14.4px;
	padding: 15px;
	width: 100%;
}
.wrap-search-business-page-home .searchandfilter input[type="text"]:focus {
	border-color: #0f518f;
	outline-color: transparent;
}
.wrap-search-business-page-home
	.searchandfilter
	.select2-container--default
	.select2-search--dropdown
	.select2-search__field {
	border: 1px solid #cccccc;
	border-radius: 4px;
	color: #444444;
	font-size: 14.4px;
	padding: 15px;
	width: 100%;
}
.wrap-search-business-page-home
	.searchandfilter
	.select2-container
	.select2-selection--single {
	height: auto;
}
.wrap-search-business-page-home
	.searchandfilter
	.select2-container--default
	.select2-selection--single {
	border-color: #cccccc;
	text-align: left;
}
.wrap-search-business-page-home
	.searchandfilter
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	font-size: 14.4px;
	line-height: normal;
	padding: 15px 15px 14px 15px;
}
.wrap-search-business-page-home
	.searchandfilter
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 47px;
	width: 47px;
}
.wrap-search-business-page-home
	.searchandfilter
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	border-width: 8px 6px 0 6px;
}
.wrap-search-business-page-home
	.searchandfilter
	.select2-container--default
	.select2-selection--single:focus {
	border-color: #0f518f;
	outline-color: transparent;
}
.wrap-search-business-page-home .searchandfilter input[type="submit"] {
	background-color: #0f518f;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	border-radius: 50px;
	margin-top: 8px;
	padding: 10px 20px;
	transition: all 0.3s ease-out;
}
.wrap-search-business-page-home .searchandfilter input[type="submit"]:hover {
	background-color: #003668;
}
.wrap-search-business-page-home .searchandfilter input[type="submit"]:focus {
	outline-color: transparent;
}
.wrap-search-business-page-home #menu-menu-de-negogios {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px auto 0 auto;
}
.wrap-search-business-page-home #menu-menu-de-negogios > * {
	padding: 10px;
}
.wrap-search-business-page-home #menu-menu-de-negogios li {
	margin-bottom: 15px;
}
.wrap-search-business-page-home #menu-menu-de-negogios li a {
	border: 0;
	background-color: #0f518f;
	color: #ffffff;
	border-radius: 50px;
	margin-top: 20px;
	padding: 10px 20px;
	transition: all 0.3s ease-out;
}


/* Responsive Form Fields */

/*==========  Mobile First Method  ==========*/

/* Small Devices, Tablets */
@media (max-width: 768px) {
	.wrap-search-business-page-home .searchandfilter ul li {
		margin-bottom: 15px;
		width: 100% !important;
	}
}

/* Result search with string */
.search-results #site-content .grid-row {
	margin-top: 20px;
}
.search-results h1.entry-title {
	flex-basis: 100%;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}
.search-results h1.entry-title::after {
	background-color: #0f518f;
	content: " ";
	display: block;
	height: 3px;
	width: 80px;
}
.search-results .entry-content {
	padding-left: 15px;
	padding-right: 15px;
}
.search-results .string-search {
	color: #444444;
	font-weight: lighter;
}
.search-results .grid-container {
	margin-bottom: 30px;
}
.search-results .grid-container .grid-row .col.col-search {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.search-results .each-result-search {
	flex-basis: 33.333333%;
	margin-bottom: 30px;
	padding: 15px;
	/**/
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}
.search-results .each-result-search .entry-thumb {
	background-color: #eeeeee;
	border-radius: 8px;
	height: 300px;
	margin-bottom: 15px;
	width: 100%;
}
.search-results .each-result-search .entry-thumb img {
	background-color: #eeeeee;
	border-radius: 8px;
	object-fit: cover;
	height: 300px;
	width: 100%;
}
.search-results .each-result-search .entry-title a {
	color: #444444;
	font-weight: lighter;
	margin-bottom: 15px;
	text-transform: uppercase;
	transition: all 0.3s ease-out;
}
.search-results .each-result-search .entry-title a:hover {
	color: #000000;
}
.search-results .each-result-search .entry-meta a,
.entry-meta a {
	background-color: #eeeeee;
	border-radius: 10px;
	color: #444444;
	display: inline-block;
	font-size: 0.9em;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 2px 10px;
	transition: all 0.3s ease-out;
}
.search-results .each-result-search .entry-meta a:hover,
.entry-meta a:hover {
	color: #000000;
}
.search-results .each-result-search .entry-content {
	padding: 0;
}

.search-results .each-result-search .read-more {
	margin-top: auto;
}

.search-results .each-result-search .read-more a {
	background-color: #0f518f;
	color: #ffffff;
	display: inline-block;
	border-radius: 50px;
	margin-top: 20px;
	padding: 10px 20px;
	transition: all 0.3s ease-out;
}
.search-results a.btn {
	background-color: #0f518f;
	color: #ffffff;
	display: inline-block;
	border-radius: 50px;
	margin-right: 15px;
	margin-top: 20px;
	padding: 10px 20px;
	transition: all 0.3s ease-out;
}

@media (max-width: 1000px) {
	.search-results .each-result-search {
		flex-basis: 50%;
	}
}

@media (max-width: 768px) {
	.search-results .grid-container .grid-row .col.col-search {
		margin-left: 0;
		margin-right: 0;
	}
	.search-results .each-result-search {
		flex-basis: 100%;
	}
}

/* Single Profile */
.single-perfil #site-content .grid-row {
	margin-top: 20px;
}
.single-perfil .grid-row .col {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.single-perfil h1.entry-title {
	color: #444444;
	display: none;
	flex-basis: 100%;
	font-weight: lighter;
	line-height: 1.2;
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 15px;
	text-transform: uppercase;
}
.single-perfil h1.entry-title::after {
	background-color: #0f518f;
	content: " ";
	display: block;
	height: 3px;
	width: 80px;
}
.single-perfil h3.entry-title {
	color: #444444;
	font-weight: lighter;
	text-transform: uppercase;
}
.single-perfil .grid-row .col .left {
	margin-bottom: 30px;
	margin-right: 30px;
	width: 25%;
}
.single-perfil .grid-row .col .left img.wp-post-image {
	border-radius: 4px;
	height: auto;
	margin-bottom: 30px;
	object-fit: initial;
}
.single-perfil .grid-row .col .right {
	margin-bottom: 30px;
	width: 70%;
}
.single-perfil .entry-meta {
	margin-bottom: 20px;
}
.single-perfil .addtoany_share_save_container {
	margin-top: 30px;
}

/* Single Profile >> Gallery */
.single-perfil .entry-gallery {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.single-perfil .entry-gallery .each-thumb {
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: #eeeeee;
	flex-basis: calc(25% - 5px);
	margin-right: 5px;
	object-fit: cover;
	padding: 5px;
}
.single-perfil .entry-gallery .each-thumb img {
	border-radius: 5px;
}
.single-perfil h2.entry-title {
	color: #444444;
	display: block;
	flex-basis: 100%;
	font-size: 32px;
	font-weight: lighter;
	line-height: 1.2;
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 15px;
	text-transform: uppercase;
}
.single-perfil h2.entry-title::after {
    background-color: #0f518f;
    content: " ";
    display: block;
    height: 3px;
    width: 80px;
}
/* Single Profile >> Responsive */
@media (max-width: 768px) {
	.single-perfil .entry-title {
		text-align: center;
	}
	.single-perfil h1.entry-title {
		display: block;
	}
	.single-perfil h2.entry-title {
		display: none;
	}
	.single-perfil .entry-title::after {
		margin: 0 auto;
	}
	.single-perfil .grid-row .col {
		margin-left: 0;
		margin-right: 0;
	}
	.single-perfil .grid-row .col .left {
		flex-direction: column-reverse;
		margin-right: 0;
		width: 100%;
	}
	.single-perfil .grid-row .col .right {
		width: 100%;
	}
	.single-perfil .entry-gallery .each-thumb {
		flex-basis: calc(50% - 5px);
	}
	.single-perfil .wp-post-image {
		margin: 30px auto;
	}
	.single-perfil .entry-content.left span {
		text-align: center;
	}
	.single-perfil .entry-content.left .contact-icon.street svg {
		display: none;
	}
	.single-perfil .entry-content.left .contact-icon.street span {
		margin-left: 0;
	}
	
}

/* Contact Infos */
.contact-icon {
	display: block;
	padding: 15px 0 0;
	position: relative;
	width: 100%;
}
.contact-icon svg {
	fill: #444444;
	height: auto;
	position: absolute;
	width: 20px;
}
.contact-icon a {
	color: #444444;
	margin-left: 30px;
	margin-top: 5px;
}
.contact-icon.street > span {
	display: block;
	line-height: 1.6;
	margin-left: 30px;
}
.contact-icon.street .list-terms a {
	margin-left: 0;
}
