/* Custom Login Page */
body.login #login {
	padding-top: 5%;
}
body.login #login h1 a {
    background-image: url( '../images/logo-agp-agencia-admin.png' ) !important;
    background-size: 100% !important;
    height: 130px !important;
    padding-bottom: 30px;
    width: 100% !important;
}
ody.login #loginform {
    border-radius: 5px;
}
body.login #nav,
body.login #backtoblog {
    text-align: center;
}
body.login .help-from-agp {
    border-radius: 5px;
    margin: 20px auto;
    width: 270px;
    padding: 24px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    line-height: 1.6em;
    text-align: center;
}
body.login .help-from-agp a {
	color: #CA151A !important;
}